<div class="py-16 sm:py-24 lg:mx-auto lg:max-w-7xl lg:px-8 lg:py-32">
  <div class="flex items-center justify-between px-4 sm:px-6 lg:px-0">
    <h2 id="trending-heading" class="text-2xl font-bold tracking-tight text-gray-900">Biggest Discounts</h2>
  </div>

  <div class="relative mt-8">
    <div class="relative w-full overflow-x-auto">
      <ul role="list" class="mx-4 inline-flex space-x-8 sm:mx-6 lg:mx-0 lg:grid lg:grid-cols-4 lg:gap-x-8 lg:space-x-0">
        <% @onsale_products.each do |product| %>
          <li class="inline-flex w-64 flex-col text-center lg:w-auto">
            <div class="group relative">
              <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200">
                <% if product.image_url.presence %>
                  <%= image_tag product.image_url, class: "h-full w-full object-cover object-center group-hover:opacity-75" %>
                <% else %>
                  <image src="https://placehold.co/300x300" class="h-full w-full object-cover object-center group-hover:opacity-75">
                <% end %>
              </div>
              <div class="mt-6">
                <% if false %>
                  <p class="text-sm text-gray-500">Black</p>
                <% end %>
                <h3 class="mt-1 font-semibold text-gray-900">
                  <a href="#">
                    <span class="absolute inset-0"></span>
                    <%= product.product_name %>
                  </a>
                </h3>
                <p class="mt-1 text-gray-900">
                  <%= number_to_currency(product.base_price / 100.0) %>
                  <% if product.sale_price %>
                    <span class="text-red-500">
                      SALE
                      <%= number_to_currency(product.sale_price / 100.0) %>
                    </span>
                  <% end %>
                </p>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="mt-12 px-4 sm:hidden">
    <a href="#" class="text-sm font-semibold text-indigo-600 hover:text-indigo-500">
      See everything
      <span aria-hidden="true"> →</span>
    </a>
  </div>
</div>
