<% if @categories.any? %>
  <div class="max-w-7xl w-full mx-auto mb-6 px-4 sm:px-6 lg:px-8">
    <h1 class="my-2">Categories</h1>

    <div class="mb-2">
      <%= link_to "All", slow_products_path %>
    </div>

    <ul class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6">
      <% @categories.each do |category| %>
        <li><%= nav_link_to category,
                  slow_products_path(@url_params.merge({category_id: category.id})),
                  class: "hover:text-blue-500",
                  active_class: "text-blue-600 font-medium",
                  inactive_class: "text-gray-500 " %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
