<div class="py-16 sm:py-24 lg:mx-auto lg:max-w-7xl lg:px-8 lg:py-32">
  <div class="flex items-center justify-between px-4 sm:px-6 lg:px-0">
    <h2 id="trending-heading" class="text-2xl font-bold tracking-tight text-gray-900">Biggest Discounts</h2>
  </div>

  <div class="relative mt-8">
    <div class="relative w-full overflow-x-auto">
      <ul role="list" class="mx-4 inline-flex space-x-8 sm:mx-6 lg:mx-0 lg:grid lg:grid-cols-4 lg:gap-x-8 lg:space-x-0">
        <% @onsale_products.each do |product| %>
          <%= render "slow/products/product", product: product %>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="mt-12 px-4 sm:hidden">
    <a href="#" class="text-sm font-semibold text-indigo-600 hover:text-indigo-500">
      See everything
      <span aria-hidden="true"> →</span>
    </a>
  </div>
</div>
