<%= render "categories" %>

<% if @onsale_products %>
  <%= render "onsale_products" %>
<% end %>

<h1><%= @products.first.class.name.pluralize %></h1>

<% if @products.any? %>
  <ol>
    <% @products.each do |product| %>
      <%= render product %>
    <% end %>
  </ol>
<% else %>
  <p>No products found.</p>
<% end %>
